@using MVCPL.Models

@*TODO: Refactor*@

<div class="modal fade" id="sessionInfoModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Session Info:</h4>
            </div>

            <div class="modal-body">
                @{
                    var createdUsers = ViewBag.CreatedUsers as List<UserViewModel>;
                    var updatedUsers = ViewBag.UpdatedUsers as List<UserViewModel>;
                    var deletedUsers = ViewBag.DeletedUsers as List<int>;
                    var isSessionEmpty = createdUsers == null && updatedUsers == null && deletedUsers == null;


                    if (createdUsers != null)
                    {
                        @*TODO: ul to table; html helper*@
                        <ul id="sessionCreatedUsers">
                            Users to be created:
                            @foreach (var user in createdUsers)
                            {
                                <li>@user.Name / @user.Age</li>
                            }
                        </ul>
                    }

                    if (updatedUsers != null)
                    {
                        <ul>
                            Users to be updated:
                            @foreach (var user in updatedUsers)
                            {
                                <li>@user.Name / @user.Age</li>
                            }
                        </ul>
                    }

                    if (deletedUsers != null)
                    {
                        <ul id="sessionDeletedUsers">
                            Users to be deleted:
                            @foreach (var id in deletedUsers)
                            {
                                <li>@id</li>
                            }
                        </ul>
                    }

                }
            </div>

            <div class="modal-footer">
                @if (!isSessionEmpty)
                {
                    <div>
                        @Html.ActionLink("Apply Changes", "ApplyChanges", new { apply = true }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Discard Changes", "ApplyChanges", new { apply = false }, new { @class = "btn btn-danger" })
                    </div>
                }
            </div>

        </div>
    </div>
</div>
