@using MVCPL.Models
@using MVCPL.Util.Extensions
@using MVCPL.Util.HtmlHelpers
@model IEnumerable<UserViewModel>
    
<table id="usersTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rewards)
        </th>
        <th></th>
    </tr>
    <tbody id="usersTableBody">
    @foreach (var item in Model)
    {
        @Html.Partial("_UserRow", item)
    }
    </tbody>


    @Html.ActionLink("Download user's list", "DownloadUsers")
</table>
