@using MVCPL.Util.Extensions
@using MVCPL.Util.HtmlHelpers
@model MVCPL.Models.UserViewModel

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Age)
    </td>
    <td>
        @Html.CustomImage(Model.Photo.ToBase64String(), "...", 50, 50)
    </td>
    @if (Model.Rewards != null && Model.Rewards.Any())
    {
        <td>
            @foreach (var reward in Model.Rewards)
            {
                @Html.CustomImageActionLink(reward.Image.ToBase64String(), "...", 50, 50, reward.Title, "Details", "Reward", new { id = reward.Id })
            }
        </td>
    }
    else
    {
        <td>No rewards yet...</td>
    }
    <td>
        @Html.ActionLink("Edit", "Update", new { id = Model.Id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Delete Safe", "Delete", new { id = Model.Id }, new { @class = "btn btn-warning" })
        @Ajax.ActionLink("Delete", "Delete", new { id = Model.Id }, new AjaxOptions{ HttpMethod = "POST", UpdateTargetId = "usersTable", InsertionMode = InsertionMode.Replace, Confirm = "Are you sure?"}, new { @class = "btn btn-danger" })
    </td>
</tr>