@using MVCPL.Util.Extensions
@using MVCPL.Util.HtmlHelpers
@model MVCPL.Models.UserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.CustomImage(Model.Photo.ToBase64String(), "...", 150, 150)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
