@using MVCPL.Models
@using MVCPL.Util.Extensions
@using MVCPL.Util.HtmlHelpers
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rewards)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.CustomImage(item.Photo.ToBase64String(), "...", 50, 50)
            </td>
            @if (item.Rewards != null && item.Rewards.Any())
            {
                <td>
                    @foreach (var reward in item.Rewards)
                    {
                        @Html.CustomImageActionLink(reward.Image.ToBase64String(), "...", 50, 50, reward.Title, "Details", "Reward", new { id = reward.Id })
                    }
                </td>
            }
            else
            {
                <td>No rewards yet...</td>
            }
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    @Html.ActionLink("Download user's list", "DownloadUsers")
</table>

@*TODO: Refactor*@
<div>
    @{
        <h3>Session Info:</h3>
        <br />

        var createdUsers = ViewBag.CreatedUsers as List<UserViewModel>;
        if (createdUsers != null)
        {
            <ul>
                Created Users:
                @foreach (var user in createdUsers)
                {
                    <li>@user.Name / @user.Age</li>
                }
            </ul>
        }

        var updatedUsers = ViewBag.UpdatedUsers as List<UserViewModel>;
        if (updatedUsers != null)
        {
            <ul>
                Updated Users:
                @foreach (var user in updatedUsers)
                {
                    <li>@user.Name / @user.Age</li>
                }
            </ul>
        }

        var deletedUsers = ViewBag.DeletedUsers as List<int>;
        if (deletedUsers != null)
        {
            <ul>
                Deleted Users:
                @foreach (var id in deletedUsers)
                {
                    <li>@id</li>
                }
            </ul>
        }

        if (createdUsers != null || updatedUsers != null || deletedUsers != null)
        {
            <div>
                @Html.ActionLink("Apply Changes", "ApplyChanges", new { apply = true }) |
                @Html.ActionLink("Discard Changes", "ApplyChanges", new { apply = false })
            </div>
        }

    }
</div>
