@using MVCPL.Models
@using MVCPL.Util.Extensions
@using MVCPL.Util.HtmlHelpers
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div style="margin-top: 15px; margin-bottom: 15px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create User</button>
    @Html.ActionLink("Download user's list", "DownloadUsers", new { }, new { @class = "btn btn-info" })
</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_CreatePartial", new UserViewModel())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>


@Html.Partial("_UsersTable", Model)
@Ajax.ActionLink("Update", "Index", new { }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "usersTable", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-lg btn-success" })


@*TODO: Refactor*@
<div>
    @{
        var createdUsers = ViewBag.CreatedUsers as List<UserViewModel>;
        var updatedUsers = ViewBag.UpdatedUsers as List<UserViewModel>;
        var deletedUsers = ViewBag.DeletedUsers as List<int>;
        var isSessionEmpty = createdUsers == null && updatedUsers == null && deletedUsers == null;

        if (!isSessionEmpty)
        {
            <h3>Session Info:</h3>
            <br />
        }

        if (createdUsers != null)
        {
            <ul>
                Created Users:
                @foreach (var user in createdUsers)
                {
                    <li>@user.Name / @user.Age</li>
                }
            </ul>
        }

        if (updatedUsers != null)
        {
            <ul>
                Updated Users:
                @foreach (var user in updatedUsers)
                {
                    <li>@user.Name / @user.Age</li>
                }
            </ul>
        }

        if (deletedUsers != null)
        {
            <ul>
                Deleted Users:
                @foreach (var id in deletedUsers)
                {
                    <li>@id</li>
                }
            </ul>
        }

        if (!isSessionEmpty)
        {
            <div>
                @Html.ActionLink("Apply Changes", "ApplyChanges", new { apply = true }) |
                @Html.ActionLink("Discard Changes", "ApplyChanges", new { apply = false })
            </div>
        }

    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/ajax")

    <script>
        function editFailed(result) {
            $('#myModal').modal('hide');

            //$("span[data-valmsg-for]").text('');
            var errorsInfo = result;
            for (var i = 0; i < result.length; ++i) {
                var key = errorsInfo[i].key;
                var message = errorsInfo[i].errors[0];
                //for (var j = 0; j < errorsInfo[i].errors.length; ++j) {
                //    message += (errorsInfo[i].errors[j] + "; ");
                //}

                $("span[data-valmsg-for='" + key + "']").text(message);
            }
        }
    </script>

    <script type="text/javascript">
        //TODO: refactor
        $('#formid').ajaxForm(function (data) {
            $("span[data-valmsg-for]").text('');
            if (typeof data === 'string') {
                $('#usersTableBody').append(data);
            } else {
                editFailed(data);
            }
        });

    </script>

    <script>
        $('#btnCreateUser').submit(function (e) {
            debugger;
            e.preventDefault();
            $('#myModal').modal('hide');
            return true;
        });
    </script>

    @*<script>
            $("#btnCreateUser").click(function () {

                var formData = new FormData();
                var file = document.getElementById("file").files[0];
                formData.append("Photo", file);
                formData.append("Name", $('#Name').val());
                formData.append("BirthDate", $('#BirthDate').val());

                $.ajax({
                    url: '@Url.Action("Create")',
                    type: "POST",
                    dataType: "JSON",
                    data: formData,
                    contentType: false,
                    processData: false,
                    error: function (result) {
                        alert("Error!");
                        //editFailed(result);
                    },
                    success: function (result) {
                        alert("Success!");
                        //editFailed(result);
                    }
                });

            });
        </script>*@
}
