@using MVCPL.Models
@using MVCPL.Util.Extensions
@using MVCPL.Util.HtmlHelpers
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*TODO: Refactor*@
<div style="margin-top: 15px; margin-bottom: 15px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create User</button>
    @Html.ActionLink("Download user's list", "DownloadUsers", new { }, new { @class = "btn btn-info" })
</div>


@Html.Partial("_CreatePartial", new UserViewModel())
@Html.Partial("_UsersTable", Model)
@Ajax.ActionLink("Update", "Index", new { }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "usersTable", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-lg btn-success" })


@*TODO: Refactor*@
<div>
    @{
        var createdUsers = ViewBag.CreatedUsers as List<UserViewModel>;
        var updatedUsers = ViewBag.UpdatedUsers as List<UserViewModel>;
        var deletedUsers = ViewBag.DeletedUsers as List<int>;
        var isSessionEmpty = createdUsers == null && updatedUsers == null && deletedUsers == null;

        if (!isSessionEmpty)
        {
            <h3>Session Info:</h3>
            <br />
        }

        if (createdUsers != null)
        {
            <ul>
                Created Users:
                @foreach (var user in createdUsers)
                {
                    <li>@user.Name / @user.Age</li>
                }
            </ul>
        }

        if (updatedUsers != null)
        {
            <ul>
                Updated Users:
                @foreach (var user in updatedUsers)
                {
                    <li>@user.Name / @user.Age</li>
                }
            </ul>
        }

        if (deletedUsers != null)
        {
            <ul>
                Deleted Users:
                @foreach (var id in deletedUsers)
                {
                    <li>@id</li>
                }
            </ul>
        }

        if (!isSessionEmpty)
        {
            <div>
                @Html.ActionLink("Apply Changes", "ApplyChanges", new { apply = true }) |
                @Html.ActionLink("Discard Changes", "ApplyChanges", new { apply = false })
            </div>
        }

    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/ajax")

    @*TODO: refactor*@
    <script>
        function editFailed(result) {
            var errorsInfo = result;
            for (var i = 0; i < result.length; ++i) {
                var key = errorsInfo[i].key;
                var message = errorsInfo[i].errors[0];
                $("span[data-valmsg-for='" + key + "']").text(message);
            }
        }
    </script>

    <script type="text/javascript">
        $('#formid').ajaxForm(function (data) {
            debugger;
            $("span[data-valmsg-for]").text('');
            if (typeof data === 'string') {
                $('#usersTableBody').append(data);
                $('#myModal').modal('hide');
            } else {
                editFailed(data);
            }
        });
    </script>

    <script>
        function editUser(userId) {
            $.ajax({
                url: 'user/' + userId + '/edit',
                success: function (data) {
                    $('#modalWrapper').html(data);
                    $('#editModal').modal();
                },
                error: function (error) {
                    alert('Error!');
                }
            });
        }
    </script>
}
