@using MVCPL.Models
@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "Index";
}

@*TODO: Refactor*@
<div class="margin-top-bottom">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUserModal">Create User</button>
    @Html.ActionLink("Download user's list", "DownloadUsers", new { }, new { @class = "btn btn-info" })
</div>

<div id="sessionInfoModalWrapper">
    @Html.Partial("_SessionInfoPartial")
</div>

@Html.Partial("_CreatePartial", new UserViewModel { BirthDate = DateTime.Now })
@Html.Partial("_UsersTable", Model)
@Ajax.ActionLink("Update", "Index", new { }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "usersTable", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-lg btn-success" })

@section Scripts{
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/custom")
}
